/* Footer styles */

.mainContainer{
 
    background-color: #040455;
    width: 1440px;
    margin: auto;
}
/* .footer {
    background-color: #042f5a; 
    font-size: 16px; 
    /* color: #333;  */
  /* }  */
  
  .headercolumn{
    display: flex;
   }

  .headertext{
    color: #fff;
    margin-left: 20px;
    flex: 1; /* TKE UP TO 50% OF THE CONTAINER*/
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
    margin-left: 20px;
  }
  .heardergirls{
    flex: 1; /* TKE UP TO 50% OF THE CONTAINER*/
    direction: rtl;
    position: relative;
   
  }
  .image1 {
    /* position: absolute; SET THE FIRST IMAGE TO ABSOLUTE POSITION */
    top: 0;
    left: 0;
    width: 450px;
    height: 450px;
    object-fit: cover;
    border-radius: 50px;
    /* z-index: 1; Set the stacking order */
  }
  .image2 {
    position: absolute; /*SET THE FIRST IMAGE TO ABSOLUTE POSITION*/
    top: 250px;
    right: 350px;
    /* bottom: 50px; */
    z-index: 10; /*Set the stacking order */
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50px;
  }
  .search{
    /* width: 300px; */
    display: flex;
    flex-direction: row;

  }
  .searchinput{
    border-radius: 90px;
    color: white;
    width: 400px;
    height: 60px;
    /* background-color: black; */
  }
  .btnsearch{
    margin-right: 400px;
    margin-left: -160px; /* TAKES THE SIGNUP BTN WITH IN THE INPUT AREA*/
    /* position: absolute; */
    /* left: 240px; */
    /* top: 80; */
    width: 150px;
    margin-top: 08px;
    border-radius: 50px;
    height: 45px;
    background-color: green;
    
  }
  .bigboxbottom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    padding: 20px; /* Add padding around the content */
    /* border: 1px solid #ccc; Add a border for visual separation */
    /* margin: 10px; Add margin around the element */
    /* text-align: center;  */
    
    
  }
  .testboxfoot{
    background-color: rgb(171, 93, 235);
    width: 900px;
    border: 15px rgb(5, 28, 155);
    text-align: center;
    /* padding: 25px; */
    /* margin: 20px; */
    /* justify-content: center;1 */
    /* align-items: center; */
    /* float: left; PLACES ALLL THE BOXES IN THE SAME ROW */
    border-style: double;
    border-bottom: black;

  }
  .testboxfoot p {
    color: white 

  }
  .testboxfoot h4 {
    color: white 
    
  }
  .testboxfoot button {
    color: white ;
    background-color: green;
    border-radius: 10px;
    width: 160px;
    height: 40px;

    
    
  }
  
 
  
 .datefooter footer{
  font-family: Arial, Helvetica, sans-serif;
  background-color:#040455;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  } 
  .datefooter hr{
    color: white;

  }
  .footer{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  .footer p{
    color: white;
    margin: 0;
  }
  .entryP{
    /* display: flex; */
    /* align-items: center; */
    color: #fff;
  }
  #icons{
    width: 30px;
    height: 30px;

   
    
  }
  .header1{
    display: flex;
    margin-right: 10px;

    background-color:#040455;
    padding: 20px;
    

  }


